<section class="section mt-5 pb-5">
  <div class="container">
    <div class="row custom">
      <div class="col-lg-4 col-sm-6 col-12">
        <div class="box-information">
          <a routerLink="/admin/users" class="no-arrow">
            <div class="image">
              <span class="fas fa-user"> &nbsp; &nbsp; </span>
            </div>
            <div class="text">
              Liste des utilisateurs inscrits : {{ users?.length }}
              <span class="small d-block">Lister les utilisateurs</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12">
        <div class="box-information">
          <a routerLink="" class="no-arrow">
            <div class="image">
              <span class="fas fa-file-circle-question">&nbsp; &nbsp;</span>
            </div>
            <div class="text">
              Liste des enquettes :
              <span class="small d-block">Lister les enquettes</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12">
        <div class="box-information">
          <a routerLink="" class="no-arrow">
            <div class="image">
              <span class="fas fa-circle-question">&nbsp; &nbsp;</span>
            </div>
            <div class="text">
              Liste des questions
              <span class="small d-block">Lister les questions </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- row custom -->
  </div>
</section>
