<h4 class="full-width text-center">Creé une enquette</h4>
<div class="container mat-elevation-z8">
  <form class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput name="titre " [(ngModel)]="titre" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label></mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        name="description "
        [(ngModel)]="description"
      ></textarea>
    </mat-form-field>
    <div class="d-flex justify-content-end">
      <button
        mat-icon-button
        color="secondary"
        aria-label="showAdd"
        (click)="showAdd()"
      >
        <mat-icon>add_circle</mat-icon></button
      ><button
        mat-icon-button
        color="secondary"
        aria-label="delete"
        (click)="delete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </form>
</div>

<div *ngIf="add">
  <mat-card class="container mat-elevation-z8">
    <div class="d-flex align-item-center py-2 px-2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Question</mat-label>
        <input matInput name="question" [(ngModel)]="question" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="ml-4">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let type of types" value="{{ type }}">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <section [ngSwitch]="selected" class="py-2 px-2">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        *ngSwitchCase="types[2]"
      >
        <mat-label>{{ question }} </mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          name="description "
          [(ngModel)]="description"
        ></textarea>
      </mat-form-field>

      <section class="example-section" *ngSwitchCase="types[0]">
        <div class="d-flex">
          <mat-form-field>
            <mat-label>add an option</mat-label>
            <input matInput name="option" [(ngModel)]="option" />
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button mat-icon-button (click)="addOption()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
        <div *ngFor="let o of options">
          <div class="d-flex" style="width: 100%">
            <mat-label>{{ o }}</mat-label>
            <div class="d-flex justify-content-end">
              <mat-icon (click)="deleteOption(o)">delete</mat-icon>
            </div>
          </div>
        </div>
      </section>

      <mat-form-field
        class="example-full-width"
        appearance="fill"
        *ngSwitchCase="types[2]"
      >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
      <div *ngSwitchCase="types[3]">
        <div class="d-flex">
          <mat-form-field>
            <mat-label>add an option</mat-label>
            <input matInput name="option" [(ngModel)]="option" />
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button mat-icon-button (click)="addOption()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
        <div *ngFor="let o of options" class="d-flex">
          <mat-label>{{ o }}</mat-label>
          <span class="d-flex justify-content-end">
            <mat-icon (click)="deleteOption(o)">delete</mat-icon>
          </span>
        </div>
      </div>

      <mat-form-field
        class="example-full-width"
        appearance="fill"
        *ngSwitchCase="types[4]"
      >
        <mat-label>Number response</mat-label>
        <input matInput type="number" />
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="fill"
        *ngSwitchCase="types[5]"
      >
        <mat-label>Text response</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </section>
    <mat-card-footer class="py-2 px-2 d-flex align-items-end">
      <button mat-button (click)="saveQuestion()">save</button>
    </mat-card-footer>
  </mat-card>
</div>

<div *ngFor="let q of questions" class="container mat-elevation-z8">
  <app-question-view [question]="q"></app-question-view>
</div>
